<app-banner></app-banner>

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4" *ngFor="let product of products">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">{{ product.description }}</p>
            <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
              <p class="text-white mb-0 small">x{{ product.stockQuantity }}</p>
            </div>
          </div>
          <img [src]="'https://localhost:7116/' + product.productImagePath" class="card-img-top" [alt]="product.productName" />
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">{{ product.productName }}</h5>
              <h5 class="text-dark mb-0">${{ product.productPrice }}</h5>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">{{ product.stockQuantity }}</span></p>
              <div class="ms-auto text-warning">
                <i *ngFor="let star of getStars()" class="fas fa-star"></i>
                <i class="fas fa-stara-half-alt"></i>
              </div>
            </div>
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-related-data></app-related-data>