<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <!-- First Slide -->
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>HP Pavilion</h4>
              <p>This laptop has many features that are simply awesome. It comes with a sleek design and powerful specs.</p> 
              <br> 
              <a href="#">BUY NOW</a>
            </div>
            <div class="col-md-5 col-12 order-md-2 order-1">
              <img src="https://i.imgur.com/iDwDQ4o.png" class="mx-auto d-block" alt="HP Pavilion">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Slide -->
    <!-- <div class="carousel-item">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>iPhone XS</h4>
              <p>This phone has many features that are simply awesome. It has a brilliant display and premium build quality.</p> 
              <br> 
              <a href="#">BUY NOW</a>
            </div>
            <div class="col-md-5 col-12 order-md-2 order-1">
              <img src="https://i.imgur.com/tVBy5Q0.png" class="mx-auto d-block" alt="iPhone XS">
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- Carousel Controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>