<h2>Edit Product</h2>
<form [formGroup]="myForm" (ngSubmit)="postData()">
    <!-- Product Category -->
    <div class="form-group">
        <label for="ProductCategory">Category</label>
        <input type="text" id="ProductCategory" class="form-control" formControlName="ProductCategory" />
    </div>

    <!-- Product Name -->
    <div class="form-group">
        <label for="ProductName">Name</label>
        <input type="text" id="ProductName" class="form-control" formControlName="ProductName" />
    </div>

    <!-- Product Quantity -->
    <div class="form-group">
        <label for="ProductQuantity">Quantity</label>
        <input type="number" id="ProductQuantity" class="form-control" formControlName="ProductQuantity" />
    </div>

    <!-- Product Price -->
    <div class="form-group">
        <label for="ProductPrice">Price</label>
        <input type="number" id="ProductPrice" class="form-control" formControlName="ProductPrice" />
    </div>

    <!-- Product Features -->
    <div class="form-group">
        <label for="ProductFeatures">Features</label>
        <textarea id="ProductFeatures" class="form-control" formControlName="ProductFeatures"></textarea>
    </div>

    <!-- Product Image -->
    <div class="form-group">
        <label for="ProductImage">Upload Image</label>
        <input type="file" id="ProductImage" class="form-control" (change)="uploadFile($event)" />
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">Edit Product</button>
</form>