<form [formGroup]="myForm" (ngSubmit)="postData()">
    <!-- Product Name -->
    <div class="form-group">
        <label for="ProductName">Name *</label>
        <input type="text" id="ProductName" class="form-control" formControlName="ProductName" required />
    </div>

    <!-- Product Price -->
    <div class="form-group">
        <label for="ProductPrice">Price *</label>
        <input type="number" id="ProductPrice" class="form-control" formControlName="ProductPrice" required />
    </div>

    <!-- Product Description -->
    <div class="form-group">
        <label for="Description">Description *</label>
        <textarea id="Description" class="form-control" formControlName="Description" required></textarea>
    </div>

    <!-- Stock Quantity -->
    <div class="form-group">
        <label for="StockQuantity">Stock Quantity *</label>
        <input type="number" id="StockQuantity" class="form-control" formControlName="StockQuantity" required />
    </div>

    <!-- Product Image -->
    <div class="form-group">
        <label for="ProductImage">Upload Image *</label>
        <input type="file" id="ProductImage" class="form-control" (change)="uploadFile($event)" required />
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">Edit Product</button>
</form>