<div class="container mt-5">
  <h2 class="text-center text-primary mb-4">Product Inventory</h2>
 
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle">
      <thead class="table-dark text-center">
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
         
          <th>Quantity</th>
          <th>Price</th>
          <th>Features</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="text-center">{{ product.productId }}</td>
          <!-- <td class="text-center">{{ product.productCategory }}</td> -->
          <td>{{ product.productName }}</td>
          <td class="text-center">{{ product.stockQuantity }}</td>
          <td class="text-end text-success fw-bold">{{ product.productPrice | currency }}</td>
          <td>{{ product.description }}</td>
          <td class="text-center">
            <img [src]="'https://localhost:7116/' + product.productImagePath" alt="{{ product.productName }}" class="img-fluid img-thumbnail" style="max-width: 100px;">
          </td>
          <td class="text-center">
            <button class="btn btn-warning btn-sm me-2" [routerLink]="['/dashboard/editpro', product.productId]">
              <i class="bi bi-pencil-square"></i> Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.productId)">
              <i class="bi bi-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 